<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin_login</title>
  <link rel="stylesheet" href="admin_login.css">
</head>
<body>
  <body class="design-root">
  <div class="layout-container">
    <header class="header">
      <div class="header-title">
        <div class="header-icon"></div>
        <h2 class="header-text">Admin Panel</h2>
      </div>
    </header>
    <div class="form-section">
      <div class="layout-content-container">
        <h2 class="form-title">Welcome back</h2>
        <div class="form-group">
          <label class="form-label">
            <p class="label-text">Username</p>
            <input
              placeholder="Enter your username"
              class="form-input"
              value=""
            />
          </label>
        </div>
        <div class="form-group">
          <label class="form-label">
            <p class="label-text">Password</p>
            <input
              placeholder="Enter your password"
              class="form-input"
              value=""
            />
          </label>
        </div>
        <div class="form-group">  
          <button type="submit" class="button">
        <span>Login</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
  
</body>
</html>