{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_admin/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'custom_admin/login_form.css' %}">
    <title>Custom Login</title>
</head>
<body>
  <div class="layout-container">
    <header class="header">
      <div class="header-title">
        <div class="header-icon"></div>
        <h2 class="header-text">Admin Panel</h2>
      </div>
    </header>
    <div class="form-section">
    <h2 class="form-title">Welcome Back</h2>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <br>

    <form class="form-style" method="POST">
        {% csrf_token %}
       
        <div class="form-style">
        <label class="form-label" for="username">Username:</label><br>
        <input class="form-input" type="text" name="username" id="username"><br>
        </div>
       
        <div class="form-style">
        <label class="form-label" for="password">Password:</label><br>
        <input class="form-input" type="password" name="password" id="password"><br><br
        </div>
       
        <div class="form-style">
        <button class="button" type="submit">Login</button>
        </div>

    </form>
    </div>
    </div>
</body>
</html>
